<?xml version="1.0"?>
<robot name="00081_plug">
	<link name="00081_plug">
		<visual>
			<geometry>
				<mesh filename="../mesh/00081/asset_plug.obj" scale="1 1 2"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/00081/asset_plug.obj" scale="1 1 2"/>
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
