<?xml version="1.0"?>
<robot name="00446_plug">
	<link name="00446_plug">
		<visual>
			<geometry>
				<mesh filename="../mesh/00446/asset_plug.obj" scale="2 2 1.5" />
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/00446/asset_plug.obj" scale="2 2 1.5" />
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
