<?xml version="1.0"?>
<robot name="00581_socket">
	<link name="00581_socket">
		<visual>
			<geometry>
				<mesh filename="../mesh/00581/asset_socket.obj" scale="2.5 2.5 2.5" />
			</geometry>
		</visual>
		<collision>
			<geometry>
				<mesh filename="../mesh/00581/asset_socket.obj" scale="2.5 2.5 2.5"/>
			</geometry>
			<sdf resolution="256"/>
		</collision>
	</link>
</robot>
